.resaltar-texto {
    background-color: #2C3E50;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding: .3rem;
}
.inc-texto{
    font-size: 1.2rem;
}
.contenedor-productos {
    border-bottom: 1px solid #e1e1e1;    
}

.border-success {
    border-top: .5rem solid #18BC9C !important;
}
.border-light {
    border-top: .5rem solid #E6F0F1 !important;
}
.border-danger {
    border-top: .5rem solid  #e74c3c !important;
}